<!--clients.vtl-->
<h1>CLIENT LIST!</h1>
<div class="header">
#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <!-- <li><a class="headerLink" href="/clients/$client.getId()">$client.getName()</a></li> -->
      <li>$client.getName()</li>
    #end
  </ul>
#else
  <p>No Clients!</p>
#end
<br>
<p><a class="headerLink" href="/">Back To Welcome Page</a></p>
</div>
<!--clients.vtl-->
