<h1>Client List!</h1>

#if ($clients)
  <ul>
    #foreach ($clientin $clients)
      <li><a href="/clients/$client.getId()">$client.getClientLastName()</a></li>
    #end
  </ul>
#else
  <p>No Clients!</p>
#end

<a href="/clients/new">Add New Client</a>
