<!--index.vtl-->
<h1>BIB WITHERS HAIR SALON ADMIN PORTAL</h1>
<h2>Welcome to the admin portal!</h2>
<h2>Add a stylist, then add a client to the stylist's stable.</h2>
<div class="header">
<p><a class="headerLink" href="/stylists">View Stylist List</a></p>
<p><a class="headerLink" href="/stylists/new">Add A New Stylist</a></p>
<p><a class="headerLink" href="/clients">View Client List</a></p>
</div>
<!--index.vtl-->
