<!--stylist-client-success.vtl-->
<h1>Success!</h1>
<p>Your client has been added to the $stylist.getName() stable.</p><br>
<p><a href="/stylists">View Stylists</a></p>
<!--stylist-client-success.vtl-->
