<!--stylist-success.vtl-->
<h1>Success!</h1>
<div class="header">
<p>Your stylist has been saved.</p>
<p><a class="headerLink" href="/stylists">View Stylists</a></p>
</div>
<!--stylist-success.vtl-->
