<!--stylist-form.vtl-->
<h1>ADD A STYLIST</h1>
<div class="header">
<form action="/stylists" method="post">
  <label for="name">Name </label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
</div>
<!--stylist-form.vtl-->
