<!--stylists-client-form.vtl-->
<h1>Add A Client To The $stylist.getName() Stable</h1>
<div class="header">
<form action="/clients" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add Client</button>
</form>
</div>
<!--stylists-client-form.vtl-->
