<h1>All Stylists</h1>
<ul>
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getStylistLastName()</a></li>
  #end
</ul>
<a href="/stylists/new">Add New Stylist</a>
